body {
    background-image: url("bilder/bg_grey.png");
    color: #f5f5f5;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 600%;
    text-align: center;
}

h3, h2, p {
    font-family: 'Exo 2', 'sans-serif';
    text-align: center;
}

#teaser {
    font-family: 'Exo 2', 'sans-serif';
    text-decoration: none;
    text-align: left;
    display: block;
    max-width: 60%;
    margin: 0 auto;
}

footer {
    text-align: center;
    font-family: 'Exo 2', 'sans-serif';
    margin-top: 40px;
    list-style-type: none;
}


img {
    width: 75%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -140px;
    display: block;
    border: 1px dimgrey solid;
    border-radius: 15px;
}



ul {
    font-family: 'Exo 2', 'sans-serif';
    text-decoration: none;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}


.main {
    margin-top: 200px;
}

/*links*/
a:link {
    color: #f5f5f5;
    text-decoration: none;
}

a:visited {
    color: #f5f5f5;
}

a:hover {
    color: #f5f5f5;
    text-decoration: underline;
}

/*canvasposition*/
canvas {
    border: 1px dimgrey solid;
    border-radius: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1000px;

    background-image: url('bilder/blurybloodcell.jpg');
    background-size: 2000px;
    background-repeat: no-repeat;
    opacity: .70;


}


table {
    font-family: 'Exo 2', 'sans-serif';
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding-left: 40px;
}

form {
    font-family: 'Exo 2', 'sans-serif';
    text-align: center;
}

button {
    
}
