
body {
    background-image: url("bilder/bg_grey.png");
    color: #f5f5f5;
    outline-offset:0px;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 200%;
    text-align: center;
}

h3, h2, p {
    font-family: 'Exo 2', 'sans-serif';
    text-align: center;
    font-size: 80%;
}

#left, #right, #up, #down {
    float: left;
    margin-top: -40px;
    z-index: 100;
    width: 100px;
    height: 50px;
    
}

#browser {
    display: none;
}

#teaser {
    font-family: 'Exo 2', 'sans-serif';
    text-decoration: none;
    text-align: justify;
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

footer, li {
    text-align: center;
    font-family: 'Exo 2', 'sans-serif';
    font-size: 80%;
    margin-top: 40px;
    list-style-type: none;
}


ul {
    font-family: 'Exo 2', 'sans-serif';
    text-decoration: none;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin-top: -95px;
}

.main {
    margin-top: 100px;
}

/*links*/
a:link {
    color: #f5f5f5;
    text-decoration: none;
}

a:visited {
    color: #f5f5f5;
}

a:hover {
    color: #f5f5f5;
    text-decoration: underline;
}

/*canvasposition*/
canvas {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
}

#background {
    /*background-image: url('bilder/blurybloodcell.jpg');*/
    background-repeat: no-repeat;
    opacity: .70;
    z-index: -1;
}

table {
    font-family: 'Exo 2', 'sans-serif';
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding-left: 40px;
}

form {
    font-family: 'Exo 2', 'sans-serif';
    text-align: center;
}




@media only screen and (min-width: 768px) {

    body {
        background-image: url("bilder/bg_grey.png");
        color: #f5f5f5;
    }

    h1 {
        font-family: 'Audiowide', cursive;
        font-size: 600%;
        text-align: center;
    }

    h3, h2, p {
        font-family: 'Exo 2', 'sans-serif';
        text-align: center;
        font-size: 100%;
    }

    #browser {
        display: inline;
    }
    
    #mobile {
        display: none;
    }

    #teaser {
        font-family: 'Exo 2', 'sans-serif';
        text-decoration: none;
        text-align: left;
        display: block;
        max-width: 60%;
        margin: 0 auto;
    }

    footer, li {
        text-align: center;
        font-family: 'Exo 2', 'sans-serif';
        margin-top: 40px;
        list-style-type: none;
    }

    img {
        width: 75%;
        height: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -140px;
        display: block;
        border: 1px dimgrey solid;
        border-radius: 15px;
    }

    ul {
        font-family: 'Exo 2', 'sans-serif';
        text-decoration: none;
        text-align: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }

}
